#PBS -N DTWKM
#PBS -l select=1:ncpus=4:mem=4gb:interconnect=hdr,walltime=72:00:00


### The purpose of this pbs is to be a Template for DTW KMeans Cluster###

cd ${PBS_O_WORKDIR}

module add anaconda3/5.1.0-gcc/8.3.1

source activate deep-learning
python DTWKMeans.py -i Test/Test_OFFremoved_exp.csv -k KX -o 01-DTWKMeans/DTWKMeans/DTW-KKX -p DTW-KKX