manifest {
	nextflowVersion = ">=20.01.0"
}
env {
	GeneShift_PATH = "${PWD}/bin"
}
params {
    conda_env = "GeneShift_env"
    dp_gp_env = "DPGP_env"
    gem_file = "${PWD}/Input/Test_exp_rep.csv"
    data_prefix = "Test"
    output_dir = "Output"
    output_path = "${PWD}/Output"
    Kmin = 5
    Kmax = 8
    iteration = 1000

}

report {
    enabled = true
    file = "${params.output_dir}/reports/report.html"
}


process {
    errorStrategy = "retry"
}

timeline {
    enabled = true
    file = "${params.output_dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output_dir}/reports/trace.txt"
    raw = true
}



profiles {
	palmetto {
		process {
			executor = "pbspro"
			clusterOptions = "-l select=1:interconnect=hdr:ncpus=4:mem=8gb,walltime=72:00:00"
            
            withName:DP_GP {
            clusterOptions = "-l select=1:interconnect=hdr:ncpus=20:mem=300gb,walltime=72:00:00"
            }
            
		}
	}
    
	standard {
		process {
			executor = "local"
			cpus = 2
			memory = 4.GB
		}
	}
    
	testing {
		process.errorStrategy = "terminate"
	}
}

