manifest {
	nextflowVersion = ">=20.01.0"
}
params {
    conda_env = "DPGP_env"
    input {
        dir = "Input"
        gem_files = "*.txt"
    }
    iteration = 1000
    output {
        dir = "output"
    }
}

report {
    enabled = true
    file = "${params.output.dir}/reports/report.html"
}



timeline {
    enabled = true
    file = "${params.output.dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output.dir}/reports/trace.txt"
    raw = true
}


process {
    beforeScript = "source activate ${params.conda_env}"
}

profiles {
	pbs {
		process {
			executor = "pbspro"
			clusterOptions = "-l select=1:ncpus=20:mem=300gb:interconnect=hdr,walltime=72:00:00"
			module = "anaconda3/5.1.0-gcc"
		}
	}


	testing {
		process.errorStrategy = "terminate"
	}
}