#PBS -N 04-1CS
#PBS -l select=1:ncpus=1:mem=4gb:interconnect=hdr,walltime=72:00:00

cd ${PBS_O_WORKDIR}

module add anaconda3/5.1.0-gcc/8.3.1

source activate deep-learning

BASEDIR=$(cat basedir.txt) 


# Plot the optimal cluster results
python ${BASEDIR}/04-DetectShift/Clusters_plot.py -exm ${BASEDIR}/Input/*OFFremoved_exp.csv  -c ${BASEDIR}/03-ChooseK/ClusterSummary/DTW-KX-DPGP_ResultsSum.csv -o ${BASEDIR}/04-DetectShift/OptimalKX/ClusterPlots/Test

